*{
  margin: 0;
  padding: 0;
}
.geral{
  background-image: url(icnbgc.jpg);
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.headiv{
  background-image: url(TDPR.jpg);
}
header h1 img{
  width: 200px;
}
.dinav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-family: helvetica;
  color: Black
}
.dinav ul li{
  display: inline-block;
  padding: 0px 40px 0px 40px
}
.dinav ul li:hover{
  background-image: url(TDPR.jpg);
  background-attachment: fixed;
  background-position: center;
}
.dinav ul li a:hover{
  color: white
}
section h2{
  font-family: helvetica;
  font-size: 30px
}
article p{
  font-family: sans-serif;
  font-size: 18px;
}
.artdiv{
  padding: 0px 0px 250px 0px
}
article a button{
  padding: 10px 90px 10px 90px;
  background-image: url(icnbgc.jpg);
  background-attachment: fixed;
  background-position: center;
  font-family: helvetica
}
article a button:hover{
  cursor: pointer;
  background-image: url(TDPR.jpg);
  background-attachment: fixed;
  background-position: center;
  color: white;
}
.footdiv{
  background-image: url(TDPR.jpg);
  background-attachment: fixed;
  background-position: center;
  padding: 0px 0px 2px 0px;
}
footer h3{
  padding: 10px 0px 0px 10px;
  color: white;
  font-size: 12px;
  font-family: helvetica
}
footer p{
  padding: 0px 0px 0px 10px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}
.dinav{
  padding: 0px 0px 109px 0px
}
article img{
  width: 750px
}
.desdiv{
  padding: 60px 0px 20px 0px
}
.desdiv h4{
  font-size: 25px;
  font-family: cursive;
}
